@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 70rem;
        margin: 0 auto;
    }
    
    /*TOWN CARDS - index */
    .towns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: -.5rem;
    }
    .towns div {
        display: block;
        margin: .5rem;
        margin-bottom: 2.5rem;
    }
}   