header, main, footer {
    max-width: 1020px;
    margin: 0 auto;
}

header h1 {
    margin: 5px;
    padding: 15px;
    font-family: 'Bree Serif', serif;
    color: rgb(50, 25, 175);
    text-align: center;
}

main section {
    border: 1px solid blue;
    background-color: lightgray;
    padding: 2rem;
    margin: 2px;
}

footer {
    border-top: 1px solid #555;
    margin-top: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

section img {
    display: flex;
    width: 175px;
    margin: 0 auto;
   
}

div.cards h2 {
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    color: rgb(50, 25, 175);
    text-align: center;
}

div.cards p {
    font-size: .8rem;
    text-align: center;
}