html {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    margin: auto;
    box-shadow: 10px 10px 10px #999;
  }

tr.start td {font-size: 2rem;}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    color: white;
    background-color: #628ca6;
}
  
td {
      color: black;
    text-align: center;
}

tr:nth-child(odd) td {
    background-color: #e7f0ed;
}
  
tr:nth-child(even) td {
    background-color: #e7ffed;
}

tr.start td, tr.end td{
    background-color: #7fb9c2;
}