@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 70rem;
        margin: 0 auto;
    }
    div.cards {
        grid-template-columns: repeat(3, 1fr);
    }
    /*WEATHERFORECAST*/
    section.forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}