html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    background-color: #EBEBEB;
    /*font-family: 'Itim', cursive;*/
    /*font-family: 'Architects Daughter', cursive;*/
}

header{
    padding: .5rem 2%;
    background-color: #105070;
    font-family: 'Architects Daughter', cursive;
}

header img {
    float: left;
    margin-right: 10px; 
    width: 50px;
}
header h1 { 
    margin: 0; 
    font-size: 1.3rem; 
    color:#FFCF24;
}
header h2 { 
    margin: 0; 
    font-size: 1rem; 
    font-weight: normal; 
    color:#FFCF24
}


nav {background-color: #FFCF24; font-family: 'Itim', cursive;}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #105070;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #90C9F5;
    color: #273B4E;
}

nav ul li.active a{
    background-color: #273B4E;
    color: #EBEBEB;
}



main {padding: 0 2%; min-height: 10rem; font-family: 'Itim', cursive;}

main h1 {font-family: 'Architects Daughter', cursive;}

main h2.architects_daughter {font-family: 'Architects Daughter', cursive;}

main h2.itim {font-family: 'Itim', cursive;}

main img { 
    width: 1000px;
    align-items: center;
}
main.target_audience img { width: 200px;}

footer {
    background-color: #105070;
    color: #FFCF24;
    padding: .5rem 2%;
    text-align: center;
}

/*----- class= Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: flex;
    clear: both;
  }